@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito/static/Nunito-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: NJORD;
    src: url(../fonts/Njord-Alternate.ttf);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primaryfont: Ubuntu;
    --secodaryfont: Nunito;
    --thirdfont: NJORD;
    
}

body {
    min-height: 100vh;
    min-height: 100svh;
}

.ctn {
    
}

h1 {
    font-family: NJORD;
}