@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito/static/Nunito-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.ctn {
    width: 90%;
    overflow-y: auto;
    margin: 30px auto 0px auto;
    border: 1px dashed black;
}

#img_1 {
    display: block;
    margin: 0px auto;
}